@import "../../css/colors.css";

.stop-all {
    width: 2rem;
    height: 2rem;
    padding: 0.375rem;
    margin: 3px;
    border-radius: 28%;
    user-select: none;
    cursor: pointer;
    background-color:rgba(255, 0, 0, 0.144);
}

.stop-all:hover {
    background-color:rgba(255, 0, 0, 0.26);
}

.stop-all {
    background-color:rgba(255, 0, 0, 0.144);
}

.stop-all.is-active {
    background-color:rgba(255, 60, 0, 0.493);
}
