.u-dropdown-searchbar {
  width: 98%;
  box-sizing: border-box;
  /* based on styles for the title input */
  color: white;
  background-color: hsla(0, 0%, 100%, 0.062);
  border: 1px solid hsla(0, 0%, 0%, 0.15);
  padding: 0.5rem;
  margin: 2px;
  outline: none;
  transition: 0.25s ease-out;
  font-size: 13px;
  font-weight: bold;
  border-radius: 30px;
}
.u-dropdown-searchbar:hover {
  background-color: hsla(0, 0%, 100%, 0.295);
}
.u-dropdown-searchbar:focus {
  background-color: rgba(255, 255, 255, 0.295);
  color: black;
}
.blocklyDropDownDiv .goog-menu {
  overflow-x: hidden;
}
