@import "../../css/colors.css";

.green-flag {
    width: 2rem;
    height: 2rem;
    margin: 3px;
    padding: 0.375rem;
    user-select: none;
    user-drag: none;
    cursor: pointer;
    border-radius: 28%;
    background-color: rgba(0, 255, 64, 0.144);
}

.green-flag:hover {
    background-color: rgba(0, 255, 64, 0.24);
}

.green-flag.is-active {
    background-color: rgba(0, 146, 37, 0.356);
}
